.Board {
  margin: 20px auto;
  border-collapse: collapse;
}

.Board tr {
  border: 1px solid black;
}

/* Remove any space between the cells */
.Board td {
  padding: 0;
  width: 125px;
  height: 125px;
  border: 1px solid black;
  transition: background-color 0.3s;
}
